{% extends 'base.html.twig' %}

{% block content %}

	<section class="py-5" style="background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);">
		<div class="text-center">
			<h1 class="text-dark" style="font-family: trenda-bold; text-center">I NOSTRI PRODOTTI</h1>
		</div>
		<div class="container py-5">
																
			<!-- Tabs navs -->
			<ul class="nav nav-tabs nav-pills justify-content-center mb-3" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="crudo-tab" data-bs-toggle="tab" data-bs-target="#crudo" type="button" role="tab" aria-controls="crudo" aria-selected="true" style="font-family: trenda-bold; font-size: 1.6em">CRUDO</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="cotto-tab" data-bs-toggle="tab" data-bs-target="#cotto" type="button" role="tab" aria-controls="cotto" aria-selected="false" style="font-family: trenda-bold; font-size: 1.6em">COTTO</button>
				</li>
			</ul>
			<!-- Tabs navs -->

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="crudo" role="tabpanel" aria-labelledby="crudo-tab">
					{% for product in productsCrudo %}
						{% include 'products/product_list.html.twig' with {'product': product} %}
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="cotto" role="tabpanel" aria-labelledby="cotto-tab">
					{% for product in productsCotto %}
						{% include 'products/product_list.html.twig' with {'product': product} %}
					{% endfor %}
				</div>
			</div>
			<!-- Tabs content -->
																		
		
		</div>
	</section>
{% endblock %}
